table {
  border-collapse: collapse;
}
tr {
  border-color: #ddd;
}

td {
  box-sizing: border-box;
}
td input {
  border-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
}
