table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  width: 100px;
  height: 30px;
  max-width: 100px;
  word-wrap: break-word;
}

th:focus {
  outline: none;
}

.scroll {
  width: max-content;
}

.cell {
  height: 100%;
}
