table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  width: 100px;
  height: 30px;
}

.cell {
  height: 100%;
}

.hiden {
  display: none;
}

.menu {
  width: 240px;
  background-color: #ffffff;
  border: 1px solid gray;
}

.menu-line {
  padding: 5px 10px 5px 10px;
}

.menu-line:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.borderBottom {
  border-bottom: 1px solid rgb(172, 171, 171);
}

body {
  overflow: hidden;
}
